/** FONTS */
$font-size-sm: 14px;
$font-size-bg: 20px;
$font-size-tl: 38px;

/** COLORS */
$primary-color: #00539cff;
$primary-color-light: #0063b2ff;
$primary-color-light2: #9cc3d5ff;
$secondary-color: #ffd662ff;

$border-radius-card: 5px;
